#slider-container img, #gallery-container img {
    box-shadow: 5px 5px 4px #888 !important;
    border-radius: 5px !important;
    border: 1px solid #ccc !important;
    background-color: #e4e4e4 !important;
    padding: 4px !important;
}

p {color: #888 !important}

::-webkit-scrollbar { width:9px; height:9px; } ::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment { display:block; height:0; background-color:transparent; } ::-webkit-scrollbar-track-piece { background-color:#FAFAFA; -webkit-border-radius:0; -webkit-border-bottom-right-radius:4px; -webkit-border-bottom-left-radius:4px; } ::-webkit-scrollbar-thumb:vertical { height:50px; background-color:#999; -webkit-border-radius:4px; } ::-webkit-scrollbar-thumb:horizontal { width:50px; background-color:#999; -webkit-border-radius:4px; }

h1.post-title span {
  float:right;
  font-size: 50%;
}

.polaroid {
width: 150px;
padding: 10px 10px 20px 10px;
border: 1px solid #BFBFBF;
background-color: white;
-moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
-moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
}
.pull-left.polaroid {
-moz-transform: rotate(-9deg);
-moz-transform: rotate(-9deg);
transform: rotate(-9deg);
}

/* GALLERY */
#gallery-container {
  margin: 10px 0 20px;
  border-top: 3px solid;
  border-bottom: 3px solid;
  overflow: auto;
  height: 380px;
  float: left;
  box-shadow: 3px 3px 2px #888;
}
#gallery-lightbox li {
    float: left;
    margin: 10px 10px 0;
    list-style: none;
}
#gallery-lightbox li img {
    border: 5px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 160px;
    list-style: none outside none;
    width: 240px;
    margin-bottom: 5px;
}
#disqus_thread {
  clear:both;
  margin-top: 10px;
}
